torch
torchvision
torchaudio
numpy==2.0.2
pandas
scipy
librosa
samplerate==0.1.0
matplotlib
tqdm
einops
soundfile
pydub
webrtcvad
audiomentations
pedalboard
ml_collections
wandb
bitsandbytes
tokenizers
huggingface-hub
transformers
diffq>=0.2.1
julius>=0.2.3
openunmix
asteroid
prodigyopt
rotary_embedding_torch
gradio<6.0
omegaconf
beartype
spafe
torch_audiomentations
onnx>=1.17
onnx2torch>=0.3.0
ml_dtypes
resampy
yt_dlp
pyngrok
## FNO
tensorly
tensorly-torch
opt-einsum
###
torchcrepe
praat-parselmouth
faiss-cpu==1.11
local-attention
tenacity
pyworld
gdown
pyloudnorm
setuptools<76.0
