torch
torchvision
torchaudio
numpy==2.0.2
pandas
scipy
librosa
samplerate==0.1.0
matplotlib
tqdm
einops
protobuf
soundfile
pydub
webrtcvad
audiomentations
pedalboard==0.8.2
ml_collections
timm
wandb
accelerate
bitsandbytes
tokenizers
huggingface-hub
transformers
torchseg
demucs==4.0.0
asteroid
prodigyopt
torch_log_wmse
rotary_embedding_torch
gradio<=6.0
omegaconf
beartype
spafe
torch_audiomentations
auraloss
onnx>=1.17
onnx2torch>=0.3.0
onnxruntime-gpu>=1.17
ml_dtypes
resampy
yt_dlp
pyngrok
tabulate
neuraloperator==1.0.2
torchcrepe
praat-parselmouth
faiss-cpu==1.11
local-attention
tenacity
pyworld
gdown